@media (max-width: 500px) {
    nav {
      display: none;
      background-color: aqua;
    }
  }
  
  @media (min-width: 501px) {
    nav {
      display: block;
      background-color: aqua;
    }
  }